/* ###########################################################################
 *  Bootstrap
 * ########################################################################### */

.label.label-success {
    position: relative;
    left: 5px;
    top: -2px;
}

.nav.nav-sidebar li{
    cursor:hand;
    cursor:pointer;
}

.btn:active, .btn.active{
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
}

.nav.tabs li a {
    border: 1px solid silver;
}

.nav.tabs li.active a{
    border: 1px solid #428bca;
}

.nav.tabs li .btn-group a{
    border:0px none;
}

.nav.tabs li .btn-group button.active{
    background-color: #428bca;
    color:#fff;
}

.nav.tabs .btn{
    position: relative;
    display: block;
    padding: 10px 10px;
}

/* ###########################################################################
 *  DataTables
 * ########################################################################### */

.panel .dt-bootstrap {
    margin-top: 15px;
    margin-bottom: 10px;
}

.panel .dt-bootstrap div.row{
    margin-left:0;
    margin-right: 0;
}

.dataTables_info{
    display: none;
}


/* ###########################################################################
 *  jQuery UI
 * ########################################################################### */

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    outline:none;
}