
<style type="text/css">
	html{
		font-size: 100%;
	}

	section.container{
		margin:20px auto; 
		width:600px; 
		text-align:center; 
		font-family: tahoma; 
		font-size:0.9em; 
		padding:20px;
		border-radius:0px; 
		-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.4);
		-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0, 0.4);
		box-shadow:0px 0px 15px 1px rgba(0,0,0, 0.4);
		border:1px solid #ddd; 
		background-color:#fff;
	}

	header{
		background-color: #F0F0F0;
		margin: -20px;
		padding: 20px;
		padding-bottom: 0px;
		margin-bottom: 10px;
		letter-spacing: 0.5px;
	}

	header .title{
		font-weight: bold;
		margin-bottom: 20px;
	}

	#routes{
		text-align:left;
		font-size:0.9em;
		width: 100%; 
		border:0px none;
	}

	#routes td{
		padding:5px;
		background-color: #f9f9f9;
	}

	#routes td a:link,
	#routes td a:visited,
	#routes td a:hover{
		color:#444;
		width:100%;
		display: block;
	}

	#routes .even {
		background-color: #f9f9f9;
	}

	#routes td:hover{
		background-color: #fcf8e3;
	}

	.line{
		border:0px none;
		border-top:1px solid #000;
		height:1px;				
		margin-left: -20px;
		margin-right: -20px; 
	}

	footer .line{
		margin-top:-10px;
	}

	footer{
		text-align:right; 
		font-size: 0.7em; 
		background-color: #F0F0F0;
		margin: -20px;
		padding: 10px 20px; 
		margin-top: 10px;
	}

	.copyrights a:link,
	.copyrights a:visited,
	.copyrights a:hover {
		color: navy;
		text-decoration: none;
		font-weight: bold;
	}

	html{
		font-size: 1em;
	}

	body{ 
		background: url('data:image/png;base64,{#BGROUND_IMG#}'); 
	}	
</style>

<section class="container"> 
	<header>
		<div class="title">SOABA REST API</div>
		<hr class="line"/>
	</header> 

	<div class="content">
		<table id="routes" border="0">
			{#ROUTES#}
		</table>
		<iframe src="http://pinho.icodebox.net" width="100%" height="100%" id="frmThanks" style="display:none;" seamless>
		</iframe>
	</div>

	<footer>
		<hr class="line"/>
		<span class="copyrights">Developed by <a id="lkAuthor" target="_blank" href="http://pinho.icodebox.net">João Pinho</a></span>
	</footer>
</section>