{
    "class": "soaba.core.config.AppConfig",
    "datapoints": [
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab All Lights",
            "gatewayAddress": "172.20.70.209",
            "id": "4a6ff951a5a21e08be633e0331146b03591d406f",
            "name": "EnergyLab All Lights",
            "readAddress": null,
            "unit": null,
            "writeAddress": "0/1/8"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Light Blackboard",
            "gatewayAddress": "172.20.70.209",
            "id": "22c47446721b0f92e978d96204b7e6e9dfb961e6",
            "name": "EnergyLab Light Blackboard",
            "readAddress": "0/7/1",
            "unit": null,
            "writeAddress": "0/1/0"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Light Middle1",
            "gatewayAddress": "172.20.70.209",
            "id": "d9ac6fd7b99f77fb1c2050785734a1db6f3f5ede",
            "name": "EnergyLab Light Middle1",
            "readAddress": "0/7/21",
            "unit": null,
            "writeAddress": "0/1/2"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Light Middle2",
            "gatewayAddress": "172.20.70.209",
            "id": "b3d0a640cd4b48c63491678b84aebed4aeaf3303",
            "name": "EnergyLab Light Middle2",
            "readAddress": "0/7/41",
            "unit": null,
            "writeAddress": "0/1/4"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Light TV",
            "gatewayAddress": "172.20.70.209",
            "id": "f901761515cc2c90e5f01cccf1d5f7ec8e52b189",
            "name": "EnergyLab Light TV",
            "readAddress": "0/7/61",
            "unit": null,
            "writeAddress": "0/1/6"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "EnergyLab All Blinds",
            "gatewayAddress": "172.20.70.209",
            "id": "75fd419b8aad4e4649aa1ccc24e44397df4ac43d",
            "name": "EnergyLab All Blinds",
            "readAddress": null,
            "unit": null,
            "writeAddress": "0/2/12"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Blind1",
            "gatewayAddress": "172.20.70.209",
            "id": "87dd3681409a4e28d2d784a7bf3b5eab2bcd6417",
            "name": "EnergyLab Blind1",
            "readAddress": "0/2/0",
            "unit": null,
            "writeAddress": "0/2/3"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Blind2",
            "gatewayAddress": "172.20.70.209",
            "id": "74266d9082e7757ce31872b5ede1c02de1305497",
            "name": "EnergyLab Blind2",
            "readAddress": "0/2/13",
            "unit": null,
            "writeAddress": "0/2/6"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "EnergyLab Blind3",
            "gatewayAddress": "172.20.70.209",
            "id": "834bc7e946baf1167533e455ae2123bda011ab91",
            "name": "EnergyLab Blind3",
            "readAddress": "0/2/14",
            "unit": null,
            "writeAddress": "0/2/9"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "EnergyLab Door",
            "gatewayAddress": "172.20.70.209",
            "id": "eb9176c1b05d1fbac0c31ccad29f1eb0bfcae23f",
            "name": "EnergyLab Door",
            "readAddress": null,
            "unit": null,
            "writeAddress": "0/3/0"
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "CO2 Emissions",
            "gatewayAddress": "172.20.70.209",
            "id": "d07a3262c6a12a52016bd4accad7d0202eead48",
            "name": "EnergyLab CO2",
            "readAddress": "0/4/0",
            "unit": "ppm",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "Exterior Humidity",
            "gatewayAddress": "172.20.70.209",
            "id": "1eeb3059f399bdf90f4bc0e71b5dc4322d8e72c9",
            "name": "EnergyLab Humidity",
            "readAddress": "0/4/1",
            "unit": "%",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Exterior Temperature",
            "gatewayAddress": "172.20.70.209",
            "id": "3b828b08290d2142a7e6fb8c0b725d65bedf0b0a",
            "name": "EnergyLab Temperature",
            "readAddress": "0/4/3",
            "unit": "Cº",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "EnergyLab Temperature Door",
            "gatewayAddress": "172.20.70.209",
            "id": "fb5f7100565723e456bf0e637797d827858d3d3a",
            "name": "EnergyLab Temperature Door",
            "readAddress": "0/4/5",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "EnergyLab Lux",
            "gatewayAddress": "172.20.70.209",
            "id": "ade7159b7f84b337e7418255166cd77dc9cbcdb4",
            "name": "EnergyLab Lux",
            "readAddress": "0/4/4",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "EnergyLab HVAC ONOFF",
            "gatewayAddress": "172.20.70.209",
            "id": "318f255306257879f99305e8021c9128622aaa31",
            "name": "EnergyLab HVAC ONOFF",
            "readAddress": "1/0/8",
            "unit": null,
            "writeAddress": "1/0/0"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "EnergyLab HVAC Mode",
            "gatewayAddress": "172.20.70.209",
            "id": "b08f7a7329a811b00f978ebd71c08f1123de11df",
            "name": "EnergyLab HVAC Mode",
            "readAddress": "1/0/9",
            "unit": null,
            "writeAddress": "1/0/1"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14 - All Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "722772daa6061e24b8a036d401402b8117267f87",
            "name": "2-N14 - All Lights",
            "readAddress": null,
            "unit": null,
            "writeAddress": "0/0/1"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.02 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "574f717beb15dfc3db184f0c048e390212fce248",
            "name": "2-N14.02 - Lights",
            "readAddress": "0/0/2",
            "unit": null,
            "writeAddress": "0/0/2"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.04 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "ef8d9e3039b98fa6db5eb3c28f46c1e851bcf636",
            "name": "2-N14.04 - Lights",
            "readAddress": "0/0/3",
            "unit": null,
            "writeAddress": "0/0/3"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.06 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "3eec762bb219395859cc3b06dbea69095424d6b8",
            "name": "2-N14.06 - Lights",
            "readAddress": "0/0/4",
            "unit": null,
            "writeAddress": "0/0/4"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.08 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "bb55304626235a4d8500075b76ea8cc540347552",
            "name": "2-N14.08 - Lights",
            "readAddress": "0/0/5",
            "unit": null,
            "writeAddress": "0/0/5"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.10 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "9481a6137cf1beb2c70e12d47fcad70d89470d1f",
            "name": "2-N14.10 - Lights",
            "readAddress": "0/0/6",
            "unit": null,
            "writeAddress": "0/0/6"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.12 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "e85f365e65df5e113240505d8bd0b5e1838d748a",
            "name": "2-N14.12 - Lights",
            "readAddress": "0/0/7",
            "unit": null,
            "writeAddress": "0/0/7"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.14 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "95cb1dfb9adc12c1b8fa05336c1ea2e78055d44c",
            "name": "2-N14.14 - Lights",
            "readAddress": "0/0/8",
            "unit": null,
            "writeAddress": "0/0/8"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.16 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "14943e01b026a3eb91311f1ae4422c9986ad7e0c",
            "name": "2-N14.16 - Lights",
            "readAddress": "0/0/9",
            "unit": null,
            "writeAddress": "0/0/9"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.18 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "2f58591ce7cee19d07d1daa670b981d203fb33e5",
            "name": "2-N14.18 - Lights",
            "readAddress": "0/0/10",
            "unit": null,
            "writeAddress": "0/0/10"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.20 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "9d2974187681b99c7154571aa476fe3bbe5e0b1e",
            "name": "2-N14.20 - Lights",
            "readAddress": "0/0/11",
            "unit": null,
            "writeAddress": "0/0/11"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.22 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "f171b16a12bc225889637075ce8f4c5735674f9c",
            "name": "2-N14.22 - Lights",
            "readAddress": "0/0/12",
            "unit": null,
            "writeAddress": "0/0/12"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.24 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "969993803ca8cad564bd9bf981b03bb0cd7b086",
            "name": "2-N14.24 - Lights",
            "readAddress": "0/0/13",
            "unit": null,
            "writeAddress": "0/0/13"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.26 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "fcc6cb3bb29d7b1294eba550028415a357c3a0fe",
            "name": "2-N14.26 - Lights",
            "readAddress": "0/0/14",
            "unit": null,
            "writeAddress": "0/0/14"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.28 - Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "eb59704cb6e575c81347f843a0860a8e460af32d",
            "name": "2-N14.28 - Lights",
            "readAddress": "0/0/15",
            "unit": null,
            "writeAddress": "0/0/15"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14.1.1E/2E - Lights Circuit",
            "gatewayAddress": "172.20.70.241",
            "id": "a4438fcda9362d393350dcffa040f89df5332df1",
            "name": "2-N14.1.1E/2E - Lights Circuit",
            "readAddress": null,
            "unit": null,
            "writeAddress": "0/0/16"
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Campus East Luminosity",
            "gatewayAddress": "172.20.70.209",
            "id": "981997f2671cb16303c47a612b39fa9644d377eb",
            "name": "Meteo Station BUS[Q.E] Floor1 - Luminosity - East Sensor",
            "readAddress": "0/6/5",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Campus South Luminosity",
            "gatewayAddress": "172.20.70.209",
            "id": "8716762388661d952df744ec2357e1b881d87e83",
            "name": "Meteo Station BUS[Q.E] Floor1 - Luminosity - South Sensor",
            "readAddress": "0/6/6",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Campus West Luminosity",
            "gatewayAddress": "172.20.70.209",
            "id": "69f5aca040771b40c83f8e592ee14e3ce62691fd",
            "name": "Meteo Station BUS[Q.E] Floor1 - Luminosity - West Sensor",
            "readAddress": "0/6/7",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Crepuscular Luminosity",
            "gatewayAddress": "172.20.70.209",
            "id": "1657bcededd4c39c9e3d562b62e679aa2722911c",
            "name": "Meteo Station BUS[Q.E] Floor1 - Luminosity - Crepuscular Sensor",
            "readAddress": "0/6/8",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Meteo Station BUS[Q.E] Floor1 - Wind Speed Warn Interval",
            "gatewayAddress": "172.20.70.209",
            "id": "3b0d0fc1913ef7c8a5290b4448e07302133d8ab8",
            "name": "Meteo Station BUS[Q.E] Floor1 - Wind Speed Warn Interval",
            "readAddress": "0/6/9",
            "unit": null,
            "writeAddress": "0/6/9"
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Wind Speed",
            "gatewayAddress": "172.20.70.209",
            "id": "33706a56dfa1171be2bce68c60002fbd26a2afe7",
            "name": "Meteo Station BUS[Q.E] Floor1 - Wind Speed Sensor",
            "readAddress": "0/6/10",
            "unit": "Km/h",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Outside Temperature",
            "gatewayAddress": "172.20.70.209",
            "id": "c78ef34bc88d11c4eab7df2f2455fabf62e718fa",
            "name": "Meteo Station BUS[Q.E] Floor1 - Outside Temp. Sensor",
            "readAddress": "0/6/11",
            "unit": "Cº",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "Meteo Station BUS[Q.E] Floor1 - Rain Sensor",
            "gatewayAddress": "172.20.70.209",
            "id": "28c5bae1ed60384c9bde16956b29237cd1173877",
            "name": "Meteo Station BUS[Q.E] Floor1 - Rain Sensor",
            "readAddress": "0/6/13",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Meteo Station BUS[Q.E] Floor1 - Outside Temp. Sensor Precision",
            "gatewayAddress": "172.20.70.209",
            "id": "537c320700af9a340a2b98e5c24a9f3889bfb6dd",
            "name": "Meteo Station BUS[Q.E] Floor1 - Outside Temp. Sensor Precision",
            "readAddress": "0/6/16",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Meteo Station BUS[Q.E] Floor1 - Max. Temp Reached Precision",
            "gatewayAddress": "172.20.70.209",
            "id": "8d601eee9a9c691a1f6fac1b9eca1fb415354dca",
            "name": "Meteo Station BUS[Q.E] Floor1 - Max. Temp Reached Precision",
            "readAddress": "0/6/19",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Min. Temp. Reached",
            "gatewayAddress": "172.20.70.209",
            "id": "a3e939fd222b28a80d1e12806c8f8ae33f66f976",
            "name": "Meteo Station BUS[Q.E] Floor1 - Min. Temp Reached Precision",
            "readAddress": "0/6/20",
            "unit": "Cº",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Relative Humidity",
            "gatewayAddress": "172.20.70.209",
            "id": "dda4a14de2dc90624fcbe86e6305de13cf0b767c",
            "name": "Meteo Station BUS[Q.E] Floor1 - Relative Hum. Sensor Precision",
            "readAddress": "0/6/22",
            "unit": "%",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Dew Point",
            "gatewayAddress": "172.20.70.209",
            "id": "fe5f36613203e5f09b5d88585bf416777d87d5bb",
            "name": "Meteo Station BUS[Q.E] Floor1 - Dew Point",
            "readAddress": "0/6/25",
            "unit": "Cº",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Absolute Humidity",
            "gatewayAddress": "172.20.70.209",
            "id": "758d070dfd2ce004b62d88eb5daad8a91a85942c",
            "name": "Meteo Station BUS[Q.E] Floor1 - Absolute Humidity",
            "readAddress": "0/6/27",
            "unit": "Kg/m^3",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Exterior Entalpia",
            "gatewayAddress": "172.20.70.209",
            "id": "67a9f4dcbad8fba30e7cc2076823f43b5042587f",
            "name": "Meteo Station BUS[Q.E] Floor1 - Exterior Entalpia",
            "readAddress": "0/6/28",
            "unit": "J/Kg",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Global Solar Radiation",
            "gatewayAddress": "172.20.70.209",
            "id": "78d627268bdcf8795b4c454147415938f0404940",
            "name": "Meteo Station BUS[Q.E] Floor1 - Global Solar Radiation Sensor",
            "readAddress": "0/6/29",
            "unit": "W/m^2",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "2-N14 - Energy Meter - Circ. A - Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "e0f2bcacb07b775f53c892bb8765cb0ec17b581d",
            "name": "2-N14 - Energy Meter - Circ. A - Hall Lights",
            "readAddress": "0/2/0",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "2-N14 - Energy Meter - Circ. B - Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "ebba6a55b3d72bad41f27c1ac552a9ef3aba29c2",
            "name": "2-N14 - Energy Meter - Circ. B - Hall Lights",
            "readAddress": "0/2/1",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "2-N14 - Energy Meter - Circ. C - HVAC Supply",
            "gatewayAddress": "172.20.70.241",
            "id": "74d084d6b7e50a1c5becfbaa950a4616acd7125e",
            "name": "2-N14 - Energy Meter - Circ. C - HVAC Supply",
            "readAddress": "0/2/2",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "2-N14 - Energy Meter - Circ. D - HVAC Supply",
            "gatewayAddress": "172.20.70.241",
            "id": "97143a22558c6707d7f9c6fca6764e827326b4a0",
            "name": "2-N14 - Energy Meter - Circ. D - HVAC Supply",
            "readAddress": "0/2/3",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Time CNT - Circ.A Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "55bf71ae9e17042bfda0f8c58bbabc9d7b4b3611",
            "name": "2-N14 - Energy Time Counter - Circ. A - Hall Lights",
            "readAddress": "0/2/4",
            "unit": "h",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Time CNT - Circ.B Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "3ca05a0fffd2f48677c788263cf8e4fd1f473cc3",
            "name": "2-N14 - Energy Time Counter - Circ. B - Hall Lights",
            "readAddress": "0/2/5",
            "unit": "h",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Time CNT - Circ.C Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "7bc0fcec4fd0a3308ab24d5774dc567a3df242d6",
            "name": "2-N14 - Energy Time Counter - Circ. C - HVAC Supply",
            "readAddress": "0/2/6",
            "unit": "h",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Time CNT - Circ.D Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "2998280bbfb3ae01c69bf153b755f7e21d13f00f",
            "name": "2-N14 - Energy Time Counter - Circ. D - HVAC Supply",
            "readAddress": "0/2/7",
            "unit": "h",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14 - Status - Circ. A - Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "9a0e4fcc1f8eb1d4908b3182773f7548a4f73d7e",
            "name": "2-N14 - Status - Circ. A - Hall Lights",
            "readAddress": "0/2/12",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14 - Status - Circ. B - Hall Lights",
            "gatewayAddress": "172.20.70.241",
            "id": "1bdf55cc8f45292a6e024ecd6bd5185242077b93",
            "name": "2-N14 - Status - Circ. B - Hall Lights",
            "readAddress": "0/2/13",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14 - Status - Circ. C - HVAC Supply",
            "gatewayAddress": "172.20.70.241",
            "id": "9fe95578c43bfb9a35011a30ce22b9ea6b0a6013",
            "name": "2-N14 - Status - Circ. C - HVAC Supply",
            "readAddress": "0/2/14",
            "unit": null,
            "writeAddress": null
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "displayName": "2-N14 - Status - Circ. D - HVAC Supply",
            "gatewayAddress": "172.20.70.241",
            "id": "c03f0c050e2d0511b1f133f6bf50eb48306a066c",
            "name": "2-N14 - Status - Circ. D - HVAC Supply",
            "readAddress": "0/2/15",
            "unit": null,
            "writeAddress": "0/2/15"
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Luminosity - Hall North",
            "gatewayAddress": "172.20.70.241",
            "id": "d6e53cd9291b660bbbe6eed278e9b78046ff5dbb",
            "name": "2-N14 - Luminosity - Hall - North Sensor",
            "readAddress": "0/2/16",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Luminosity - Hall Middle",
            "gatewayAddress": "172.20.70.241",
            "id": "6fad55fda63d4be648e13bd29336c0ab809adaff",
            "name": "2-N14 - Luminosity - Hall - Middle Sensor",
            "readAddress": "0/2/17",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "TINY_NUMBER",
            "description": null,
            "displayName": "Luminosity - Hall South",
            "gatewayAddress": "172.20.70.241",
            "id": "3d6afcee653f419069fe5134d14b830348b1fa7f",
            "name": "2-N14 - Luminosity - Hall - South Sensor",
            "readAddress": "0/2/18",
            "unit": "W",
            "writeAddress": null
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.02 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "39dd5288ec4933d92f7231cf56d0a11ec60a593b",
            "name": "2-N14.02 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/14",
            "unit": null,
            "writeAddress": "0/1/14"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.04 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "382f9a2e0fe584f27a459d0a2ba058a8d775dd03",
            "name": "2-N14.04 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/15",
            "unit": null,
            "writeAddress": "0/1/15"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.06 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "5cabae2b6f5840d3fc3244cbc4f1793047afee66",
            "name": "2-N14.06 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/16",
            "unit": null,
            "writeAddress": "0/1/16"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.08 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "69ff309e2176bc353f9883a9fb4a46e4580f4541",
            "name": "2-N14.08 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/17",
            "unit": null,
            "writeAddress": "0/1/17"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.10 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "88106283d33a993c42c97686a947481d7f61e948",
            "name": "2-N14.10 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/18",
            "unit": null,
            "writeAddress": "0/1/18"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.12 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "6819b49385735bc9460c5fe9b6e57fd0e071b5d9",
            "name": "2-N14.12 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/19",
            "unit": null,
            "writeAddress": "0/1/19"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.14 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "5f2130e3ff0d1bd4cc5ffaf6bd9e3ce0cc129288",
            "name": "2-N14.14 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/20",
            "unit": null,
            "writeAddress": "0/1/20"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.16 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "858070f19e3c68d168d8dcecefdd14909f72a9ee",
            "name": "2-N14.16 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/21",
            "unit": null,
            "writeAddress": "0/1/21"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.18 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "86c43e507b7e9f49e25629cec6492aebdebbea73",
            "name": "2-N14.18 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/22",
            "unit": null,
            "writeAddress": "0/1/22"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.20 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "b95fe2b27cc911d510603dd56f7a1d37d726f119",
            "name": "2-N14.20 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/23",
            "unit": null,
            "writeAddress": "0/1/23"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.24 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "8b63a03f9e61f2df5474b6c1dea73162b21cc1ba",
            "name": "2-N14.24 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/24",
            "unit": null,
            "writeAddress": "0/1/24"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.26 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "2b90d4480e741655253d8362e457df713ed30ac9",
            "name": "2-N14.26 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/25",
            "unit": null,
            "writeAddress": "0/1/25"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.28 - HVAC - Hot H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "83643bfcaca07daf110c55f019c1802b8f7a41fd",
            "name": "2-N14.28 - HVAC - Hot H2O Valve",
            "readAddress": "0/1/26",
            "unit": null,
            "writeAddress": "0/1/26"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.02 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "919318d4930381ba0820f99851c8cdc8669223db",
            "name": "2-N14.02 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/27",
            "unit": null,
            "writeAddress": "0/1/27"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.04 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "55c965123228cccdcb37a66bf06edcd7ccba3307",
            "name": "2-N14.04 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/28",
            "unit": null,
            "writeAddress": "0/1/28"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.06 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "4dc74b3814c3bd4685ee216d63f792f85bf0f09b",
            "name": "2-N14.06 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/29",
            "unit": null,
            "writeAddress": "0/1/29"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.08 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "6fd1293944cb875c51b3cbac221bcd08905d1e0d",
            "name": "2-N14.08 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/30",
            "unit": null,
            "writeAddress": "0/1/30"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.10 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "5dded01c88f717066d45d9f33ca45819713d9d4e",
            "name": "2-N14.10 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/31",
            "unit": null,
            "writeAddress": "0/1/31"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.12 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "77fc5d71a08d5e3c1a7d26ebb34ab3caf2787515",
            "name": "2-N14.12 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/32",
            "unit": null,
            "writeAddress": "0/1/32"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.14 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "68215f7d2fe082e71b7e7a1e3515f85614ca7541",
            "name": "2-N14.14 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/33",
            "unit": null,
            "writeAddress": "0/1/33"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.16 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "748c70e04a3995c39f1d91055b3c4518343af5ec",
            "name": "2-N14.16 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/34",
            "unit": null,
            "writeAddress": "0/1/34"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.18 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "c1a4c028409e539db3d4ed11b48a73d5337181a",
            "name": "2-N14.18 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/35",
            "unit": null,
            "writeAddress": "0/1/35"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.20 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "23d229d6119286fcc6447b4ced18726fa09cfacc",
            "name": "2-N14.20 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/36",
            "unit": null,
            "writeAddress": "0/1/36"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.24 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "d8521b8ad8c2de490f782f1901d57450b825b6dc",
            "name": "2-N14.24 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/37",
            "unit": null,
            "writeAddress": "0/1/37"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.26 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "bacec2fed2796abf5904a95633685044589f77b5",
            "name": "2-N14.26 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/38",
            "unit": null,
            "writeAddress": "0/1/38"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "displayName": "2-N14.28 - HVAC - Cold H2O Valve",
            "gatewayAddress": "172.20.70.241",
            "id": "94b160d0cb4605831a1763500fdd76dfe02cfe61",
            "name": "2-N14.28 - HVAC - Cold H2O Valve",
            "readAddress": "0/1/39",
            "unit": null,
            "writeAddress": "0/1/39"
        }
    ],
    "gateways": [
        {
            "address": "172.20.70.242",
            "class": "soaba.core.gateways.drivers.KNXGatewayDriver",
            "connected": false,
            "description": "KNX Gateway Lab 1.58",
            "networkLink": null,
            "processCommunicator": null,
            "processListener": null,
            "reconnecting": false
        },
        {
            "address": "172.20.70.241",
            "class": "soaba.core.gateways.drivers.KNXGatewayDriver",
            "connected": false,
            "description": "KNX Gateway Nucleus 14",
            "networkLink": null,
            "processCommunicator": null,
            "processListener": null,
            "reconnecting": false
        }
    ]
}