{
    "class": "soaba.core.config.AppConfig",
    "datapoints": [
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "4a6ff951a5a21e08be633e0331146b03591d406f",
            "name": "EnergyLab All Lights",
            "readAddress": null,
            "writeAddress": "0/1/8"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "22c47446721b0f92e978d96204b7e6e9dfb961e6",
            "name": "EnergyLab Light Blackboard",
            "readAddress": "0/7/1",
            "writeAddress": "0/1/0"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "d9ac6fd7b99f77fb1c2050785734a1db6f3f5ede",
            "name": "EnergyLab Light Middle1",
            "readAddress": "0/7/21",
            "writeAddress": "0/1/2"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "b3d0a640cd4b48c63491678b84aebed4aeaf3303",
            "name": "EnergyLab Light Middle2",
            "readAddress": "0/7/41",
            "writeAddress": "0/1/4"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "f901761515cc2c90e5f01cccf1d5f7ec8e52b189",
            "name": "EnergyLab Light TV",
            "readAddress": "0/7/61",
            "writeAddress": "0/1/6"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "75fd419b8aad4e4649aa1ccc24e44397df4ac43d",
            "name": "EnergyLab All Blinds",
            "readAddress": null,
            "writeAddress": "0/2/12"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "87dd3681409a4e28d2d784a7bf3b5eab2bcd6417",
            "name": "EnergyLab Blind1",
            "readAddress": "0/2/0",
            "writeAddress": "0/2/3"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "74266d9082e7757ce31872b5ede1c02de1305497",
            "name": "EnergyLab Blind2",
            "readAddress": "0/2/13",
            "writeAddress": "0/2/6"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "PERCENTAGE",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "834bc7e946baf1167533e455ae2123bda011ab91",
            "name": "EnergyLab Blind3",
            "readAddress": "0/2/14",
            "writeAddress": "0/2/9"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "eb9176c1b05d1fbac0c31ccad29f1eb0bfcae23f",
            "name": "EnergyLab Door",
            "readAddress": null,
            "writeAddress": "0/3/0"
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "NUMBER",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "d07a3262c6a12a52016bd4accad7d0202eead48",
            "name": "EnergyLab CO2",
            "readAddress": "0/4/0",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "NUMBER",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "1eeb3059f399bdf90f4bc0e71b5dc4322d8e72c9",
            "name": "EnergyLab Humidity",
            "readAddress": "0/4/1",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "NUMBER",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "3b828b08290d2142a7e6fb8c0b725d65bedf0b0a",
            "name": "EnergyLab Temperature",
            "readAddress": "0/4/3",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "NUMBER",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "fb5f7100565723e456bf0e637797d827858d3d3a",
            "name": "EnergyLab Temperature Door",
            "readAddress": "0/4/5",
            "writeAddress": null
        },
        {
            "accessType": "READ_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "NUMBER",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "ade7159b7f84b337e7418255166cd77dc9cbcdb4",
            "name": "EnergyLab Lux",
            "readAddress": "0/4/4",
            "writeAddress": null
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "318f255306257879f99305e8021c9128622aaa31",
            "name": "EnergyLab HVAC ONOFF",
            "readAddress": "1/0/8",
            "writeAddress": "1/0/0"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.242",
            "id": "b08f7a7329a811b00f978ebd71c08f1123de11df",
            "name": "EnergyLab HVAC Mode",
            "readAddress": "1/0/9",
            "writeAddress": "1/0/1"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "722772daa6061e24b8a036d401402b8117267f87",
            "name": "2-N14 - All Lights",
            "readAddress": null,
            "writeAddress": "0/0/1"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "574f717beb15dfc3db184f0c048e390212fce248",
            "name": "2-N14.02 - Lights",
            "readAddress": "0/0/2",
            "writeAddress": "0/0/2"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "ef8d9e3039b98fa6db5eb3c28f46c1e851bcf636",
            "name": "2-N14.04 - Lights",
            "readAddress": "0/0/3",
            "writeAddress": "0/0/3"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "3eec762bb219395859cc3b06dbea69095424d6b8",
            "name": "2-N14.06 - Lights",
            "readAddress": "0/0/4",
            "writeAddress": "0/0/4"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "bb55304626235a4d8500075b76ea8cc540347552",
            "name": "2-N14.08 - Lights",
            "readAddress": "0/0/5",
            "writeAddress": "0/0/5"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "9481a6137cf1beb2c70e12d47fcad70d89470d1f",
            "name": "2-N14.10 - Lights",
            "readAddress": "0/0/6",
            "writeAddress": "0/0/6"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "e85f365e65df5e113240505d8bd0b5e1838d748a",
            "name": "2-N14.12 - Lights",
            "readAddress": "0/0/7",
            "writeAddress": "0/0/7"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "95cb1dfb9adc12c1b8fa05336c1ea2e78055d44c",
            "name": "2-N14.14 - Lights",
            "readAddress": "0/0/8",
            "writeAddress": "0/0/8"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "14943e01b026a3eb91311f1ae4422c9986ad7e0c",
            "name": "2-N14.16 - Lights",
            "readAddress": "0/0/9",
            "writeAddress": "0/0/9"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "2f58591ce7cee19d07d1daa670b981d203fb33e5",
            "name": "2-N14.18 - Lights",
            "readAddress": "0/0/10",
            "writeAddress": "0/0/10"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "9d2974187681b99c7154571aa476fe3bbe5e0b1e",
            "name": "2-N14.20 - Lights",
            "readAddress": "0/0/11",
            "writeAddress": "0/0/11"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "f171b16a12bc225889637075ce8f4c5735674f9c",
            "name": "2-N14.22 - Lights",
            "readAddress": "0/0/12",
            "writeAddress": "0/0/12"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "969993803ca8cad564bd9bf981b03bb0cd7b086",
            "name": "2-N14.24 - Lights",
            "readAddress": "0/0/13",
            "writeAddress": "0/0/13"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "fcc6cb3bb29d7b1294eba550028415a357c3a0fe",
            "name": "2-N14.26 - Lights",
            "readAddress": "0/0/14",
            "writeAddress": "0/0/14"
        },
        {
            "accessType": "READ_WRITE",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "eb59704cb6e575c81347f843a0860a8e460af32d",
            "name": "2-N14.28 - Lights",
            "readAddress": "0/0/15",
            "writeAddress": "0/0/15"
        },
        {
            "accessType": "WRITE_ONLY",
            "class": "soaba.core.models.Datapoint",
            "dataType": "BIT",
            "description": null,
            "gatewayAddress": "172.20.70.241",
            "id": "a4438fcda9362d393350dcffa040f89df5332df1",
            "name": "2-N14.1.1E/2E - Lights Circuit",
            "readAddress": "0/0/16",
            "writeAddress": "0/0/16"
        }
    ],
    "gateways": [
        {
            "address": "172.20.70.242",
            "class": "soaba.core.gateways.drivers.KNXGatewayDriver",
            "connected": false,
            "description": "KNX Gateway Lab 1.58",
            "networkLink": null,
            "processCommunicator": null,
            "processListener": null,
            "reconnecting": false
        },
        {
            "address": "172.20.70.241",
            "class": "soaba.core.gateways.drivers.KNXGatewayDriver",
            "connected": false,
            "description": "KNX Gateway Nucleus 14",
            "networkLink": null,
            "processCommunicator": null,
            "processListener": null,
            "reconnecting": false
        }
    ]
}