
<!-- scripts: soaba application -->
<script src="js/soaba.plugins.js"></script>
<script src="js/soaba.utils.js"></script>
<script src="js/soaba.pages.datapoints.js"></script>
<script src="js/soaba.pages.gateways.js"></script>
<script src="js/soaba.pages.meteo.js"></script>
<script src="js/soaba.pages.eviewer.js"></script>
<script src="js/soaba.pages.cpanel.js"></script>

<script type="text/javascript">
	$(function(){
		/** page navigation setup **/
		$('.nav.nav-sidebar a').click(function(e){
		    e.preventDefault();
		
		    var $page;
		    if(($page = $($(this).attr('href'))).length != 0){
		        $page.siblings('.page').hide();
		        $page.show('fade');
		        $('.nav.nav-sidebar li').removeClass('active');
		        $(this).parent().addClass('active');
		
		        if($page.attr('loaded') != 'true'){
		            $('#loader-wrapper').show();
		            $('#loader-wrapper .loader-info').text('"'+ $(this).text() +'" is still loading... please wait!');
		            return;
		        }
		    }
		
		    return false;
		});
	});
</script>

<!-- partial view content -->
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="#" class="header">Configuration</a></li>
		<li class="active"><a href="#pageDatapoints">Datapoints</a></li>
		<li><a href="#pageGateways">Gateways</a></li>
		<li><br /></li>
		<li><br /></li>
		<li><a href="#" class="header">Applications</a></li>
		<li><a href="#pageMeteoStation">Meteo Station</a></li>
		<li><a href="#pageEnergyViewer">Energy Viewer</a></li>
		<li><a href="#pageSwitchControlPanel">Control Panel</a></li>
	</ul>
</div>
<div id="loader-wrapper">
	<div id="loader"></div>
	<div class="loader-info"></div>

	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>

</div>
<div id="pageDatapoints"
	class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main page"
	style="display: none;">
	<ol class="breadcrumb">
		<li><a href="#">SOABA</a></li>
		<li class="active">Datapoints</li>
	</ol>
	<h1 class="page-header">Datapoints</h1>

	<div class="panel panel-default">
		<div class="panel-heading">
			Available Datapoints <span id="datapointsCount"
				class="label label-success">New</span>
		</div>
		<table id="tblDatapoints"
			class="table table-striped table-condensed table-hover"
			cellPadding="0" cellSpacing="0" width="100%">
		</table>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Datapoint Details</div>

		<div class="datapointMetaPanel">
			<ul class="nav nav-pills tabs gateway" role="tablist">
				<li role="presentation" class="active"><a
					href="#tabDatapointInfo" role="tab" data-toggle="tab">Info</a></li>
				<li role="presentation">
					<div class="btn-group operations">
						<button type="button" class="btn btn-default">Operations</button>
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul id="lstDPTabOperations" class="dropdown-menu" role="menu">
							<li><a href="#tabDatapointOperations" id="tbDPRead"
								role="tab" data-toggle="tab">Read</a></li>
							<li><a href="#tabDatapointOperations" id="tbDPWrite"
								role="tab" data-toggle="tab">Write</a></li>
						</ul>
					</div>
				</li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active"
					id="tabDatapointInfo">
					<table class="table table-details">
						<tr>
							<td><label for="txtDatapointName">Name:</label></td>
							<td><input type="text" id="txtDatapointName"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtGatewayAddress">Gateway (IP
									Address):</label></td>
							<td><input type="text" id="txtGatewayAddress"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtDatapointAccess">Access:</label></td>
							<td><input type="text" id="txtDatapointAccess"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtDatapointDataType">Data Type:</label></td>
							<td><input type="text" id="txtDatapointDataType"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtDatapointReadAddress">Read
									Address:</label></td>
							<td><input type="text" id="txtDatapointReadAddress"
								class="form-control datapoint-read-address" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtDatapointWriteAddress">Write
									Address:</label></td>
							<td><input type="text" id="txtDatapointWriteAddress"
								class="form-control datapoint-write-address" readonly /></td>
						</tr>
					</table>
				</div>
				<div role="tabpanel" class="tab-pane fade"
					id="tabDatapointOperations">
					<table class="table table-details">
						<tr>
							<td><label for="txtDReadAddr">Read Address:</label></td>
							<td><input id="txtDReadAddr" type="text"
								class="form-control datapoint-read-address" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtDWriteAddr">Write Address:</label></td>
							<td><input id="txtDWriteAddr" type="text"
								class="form-control datapoint-write-address" readonly /></td>
						</tr>
						<tr>
							<td><label>Value:</label></td>
							<td>
								<div id="contDValue"></div>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="operations">
								<button type="button" id="btnDatapointRead"
									data-loading-text="Loading..." class="btn btn-primary"
									autocomplete="off" style="display: none">Execute Read
								</button>
								<button type="button" id="btnDatapointWrite"
									data-loading-text="Loading..." class="btn btn-primary"
									autocomplete="off" style="display: none">Execute Write
								</button>
							</td>
						</tr>
						<tr id="dpOperationResult" style="display: none">
							<td colspan="2">
								<div class="panel panel-info">
									<div class="panel-heading">Result</div>
									<div class="panel-body"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="pageGateways"
	class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main page"
	style="display: none;">
	<ol class="breadcrumb">
		<li><a href="#">SOABA</a></li>
		<li><a href="#">Gateways</a></li>
		<li class="active">Drivers</li>
	</ol>

	<h1 class="page-header">Gateways</h1>

	<div class="panel panel-default">
		<div class="panel-heading">
			Available Gateways <span id="gatewaysCount"
				class="label label-success">New</span>
		</div>
		<table id="tblGatewayDrivers"
			class="table table-striped table-condensed table-hover"
			cellPadding="0" cellSpacing="0" width="100%"></table>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Gateway Details</div>

		<div class="gatewayMetaPanel">
			<ul class="nav nav-pills tabs gateway" role="tablist">
				<li role="presentation" class="active"><a
					href="#tabGatewaysInfo" role="tab" data-toggle="tab">Info</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active"
					id="tabGatewaysInfo">
					<table class="table table-details">
						<tr>
							<td><label for="txtGatewayDriver">Driver Type:</label></td>
							<td><input type="text" id="txtGatewayDriver"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="txtGatewayIPAddress">Gateway IP
									Address:</label></td>
							<td><input type="text" id="txtGatewayIPAddress"
								class="form-control" readonly /></td>
						</tr>
						<tr>
							<td><label for="ckbGatewayConnected">Is Connected:</label></td>
							<td><input name="ckbGatewayConnected"
								id="ckbGatewayConnected" type="checkbox" checked disabled /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="pageMeteoStation"
	class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main page"
	style="display: none;">
	<ol class="breadcrumb">
		<li><a href="#">SOABA</a></li>
		<li><a href="#">Applications</a></li>
		<li class="active">Meteo Station</li>
	</ol>
	<h1 class="page-header">Sensors Live Feed</h1>

	<div class="row">
		<div class="col-md-5" style="padding-right: 0px;">
			<div id="gaugeContainer"></div>
		</div>
		<div class="col-md-7" style="padding-left: 0px; padding-right: 0px;">
			<div id="lineChartContainer"></div>
		</div>
	</div>
</div>

<div id="pageEnergyViewer"
	class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main page"
	style="display: none;">
	<ol class="breadcrumb">
		<li><a href="#">SOABA</a></li>
		<li><a href="#">Applications</a></li>
		<li class="active">Energy Viewer</li>
	</ol>
	<h1 class="page-header">Sensors Live Feed</h1>

	<div class="row">
		<div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
			<div id="energyLineChartContainer"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="padding-right: 0px;">
			<div id="energyGaugeContainer"></div>
		</div>
	</div>
</div>

<div id="pageSwitchControlPanel"
	class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main page"
	style="display: none;">
	<ol class="breadcrumb">
		<li><a href="#">SOABA</a></li>
		<li><a href="#">Applications</a></li>
		<li class="active">Control Panel</li>
	</ol>
	<h1 class="page-header">Switch Control</h1>
	<div id="switchControls"></div>

	<br> <br>

	<h1 class="page-header"
		style="display: block; clear: both; padding-top: 40px;">Dim /
		Blind Control</h1>
	<div id="percentageControls"></div>

	<br> <br>

	<h1 class="page-header"
		style="display: block; clear: both; padding-top: 40px;">HVAC
		Control</h1>
	<div id="hvacControls"></div>
</div>